<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="resultado">
                O <%= operacao %> de (<%= primeiroNumero %>) e (<%= segundoNumero %>) é : <%= mdcResultado %>
            </p>
            <p class="formularioQ">
                Informe outros 2 números para mostrar o MDC entre eles.
            </p>
            <form method="POST" action="/mdc" autocomplete="off">
                <input name="primeiroNumero" type="text" />
                <input name="segundoNumero" type="text" />
                <%- include("./elementos/btnEnviar") %>
            </form>
        </div>
    </div>
</div>