<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="resultado">
                Numeracão a ser <%= operacao %>: (<%= s %>) (<%= t %>) (<%= u %>) (<%= v %>) (<%= x %>)
                (<%= z %>). </br>Resultado da ordenação: <%= ordenada_resultado %>
            </p>
            <p class="formularioQ">
                Informe os próximos números para ordenar.
            </p>
            <form method="POST" action="/ordenada" autocomplete="off">
                <input name="s" type="text" />
                <input name="t" type="text" />
                <input name="u" type="text" />
                <input name="v" type="text" />
                <input name="x" type="text" />
                <input name="z" type="text" />
                </br>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>