<p class="tratamento"></p>
<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="resultado">
                O somatório de <%= num1 %> + <%= num2 %> + <%= num3 %> é <%= somatorio_resultado %>
            </p>
            <p class="formularioQ">
                Informe os próximos números para serem somados.
            </p>
            <form method="POST" action="/somatorio" autocomplete="off">
                <input name="num1" type="text" />
                <input name="num2" type="text" />
                <input name="num3" type="text" />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
<div class="tratamento"></div>